.product
{
    padding: 3rem;

    &__left
    {
        &--image
        {
            float: right;
            height: 130%;
        }
    }

    &__right
    {
        &--title
        {
            font-size: 4rem;
            color: $color-dark-cyan;
        }

        &--paragraph
        {
            font-size: 2rem;
        }

        &--list
        {
            .items
            {
                list-style: none;
                padding-left: 3rem;
                padding-top: 1rem;
                color: $color-light-brown;
            }
        }
    }
}

