.product
{
    padding: 3rem;

    &__left
    {
        padding: 4rem 0;
        p
        {
            text-align: center;
        }

        &--image
        {
            margin-left: auto;
            margin-right: auto;
            display: block;
            height: 100%;
        }
    }

    &__right
    {
        &--title
        {
            font-size: 4rem;
            color: $color-dark-cyan;
        }

        &--paragraph
        {
            font-size: 2rem;
        }

        &--list
        {
            .items
            {
                list-style: none;
                padding-left: 3rem;
                padding-top: 1rem;
                color: $color-light-brown;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .product
    {
        &__right
        {
            padding: 1rem 0;

            &--title
            {
                font-size: 2rem;
                text-align: center;
            }

            &--paragraph
            {
                font-size: 1.3rem;
                text-align: center;
            }

            &--list
            {
                .items
                {
                    padding-left: 0;
                    text-align: center;
                }
            }
        }
    }
}