.list
{
    padding: 2rem;

    &__heading
    {
        text-align: center;
        font-size: 5rem;
        letter-spacing: .4rem;
    }

    &__beer
    {
        padding: 3rem 0;

        &--item
        {
            list-style: none;
            &:not(:last-child){
                padding-bottom: 3rem;
            }
        }

        .image, .no-image
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .beer-img
        {
            height: 24rem;
        }

        p
        {
            text-align: center;
            font-size: 1.4rem;
        }
    }
}