* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', cursive; }

p {
  font-family: 'Open sans', sans-serif; }

.navbar {
  display: flex;
  padding: 2rem 0;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right bottom, rgba(245, 223, 189, 0.3), rgba(196, 160, 119, 0.4)); }
  .navbar__logo {
    padding: 0 1rem; }
    .navbar__logo img {
      height: 4rem; }
  .navbar__header {
    font-size: 3rem;
    font-family: 'Abril Fatface', cursive;
    text-align: center; }
  .navbar a {
    text-decoration: none;
    color: #a4baba; }

.list {
  padding: 2rem; }
  .list__heading {
    text-align: center;
    font-size: 5rem;
    letter-spacing: .4rem;
    color: #512b1b; }
  .list__beer {
    padding: 3rem 0; }
    .list__beer--item {
      list-style: none; }
      .list__beer--item:not(:last-child) {
        padding-bottom: 3rem; }
    .list__beer .image, .list__beer .no-image {
      display: flex;
      justify-content: center;
      align-items: center; }
    .list__beer .beer-img {
      height: 24rem; }
    .list__beer p {
      text-align: center;
      font-size: 1.4rem;
      color: #a4baba; }

.product {
  padding: 3rem; }
  .product__left {
    padding: 4rem 0; }
    .product__left p {
      text-align: center; }
    .product__left--image {
      margin-left: auto;
      margin-right: auto;
      display: block;
      height: 100%; }
  .product__right--title {
    font-size: 4rem;
    color: #a4baba; }
  .product__right--paragraph {
    font-size: 2rem; }
  .product__right--list .items {
    list-style: none;
    padding-left: 3rem;
    padding-top: 1rem;
    color: #c4a077; }

@media only screen and (max-width: 800px) {
  .product__right {
    padding: 1rem 0; }
    .product__right--title {
      font-size: 2rem;
      text-align: center; }
    .product__right--paragraph {
      font-size: 1.3rem;
      text-align: center; }
    .product__right--list .items {
      padding-left: 0;
      text-align: center; } }
