.navbar
{
    display: flex;
    padding: 2rem 0;
    align-items: center;
    justify-content: center;
    
    background: linear-gradient(
        to right bottom,
        rgba($color-light-peach, .3),
        rgba($color-light-brown, .4));

    &__logo
    {
        padding: 0 1rem;
        img
        {
            height: 4rem;
        }
    }

    &__header
    {
        font-size: 3rem;
        font-family: 'Abril Fatface', cursive;
        text-align: center;
    }

    a
    {
        text-decoration: none;
        color: $color-dark-cyan;
    }
}